@import '../../Global/_Global.scss';

.scale-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    list-style-type: none;
    padding: 0;
}

.scale-list-element {
    color: white;
    padding: 5px 0;
    width: 350px;
    margin-top: 5px;
    font-size: 24px;
    border-radius: 5px;
    display: inline-block;
    &:nth-child(even) {
        background-color: $colorBlackboard;
    }
    &:nth-child(odd) {
        background-color: $colorTan;
    }
}

.scale-list-element-line-through {
    text-decoration: line-through;
}