@import "../../Global/_Global.scss";

.subpage-wrapper {
    width: 250px;
    height: 150px;
    background-color: $colorBlackboard;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
}

.subpage-text-wrapper {
    position: relative;
    background-color: $colorTan;
    color: $colorOxblood;
    margin: 24px 25px;
    border-radius: 10px;
    height: 50px;
}
.subpage-text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    a {
        color: $colorOxblood;
    }
}