.btn-wrapper {
    width: 100%;
    justify-content: center;
    padding: 10px 5px;
}

.btn {
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.btn span {
    color: white;
    line-height: 50px;
    font-size: 18px;
}