.btn-wrapper {
    width: 100%;
    justify-content: center;
    padding: 10px 5px;
}

.btn {
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}

.btn span {
    color: white;
    line-height: 40px;
}